@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <table class="table table-bordered">
        <tr>
            <td>User Name</td>
            <td>
                <input asp-for="UserName" class="form-control" />
                <span class="text-danger" asp-validation-for="UserName"></span>
            </td>
        </tr>

        <tr>
            <td>User Password</td>
            <td>
                <input asp-for="Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Password"></span>

            </td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-success" value="Login" />

            </td>
        </tr>
    </table>
}



@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}