@model IEnumerable<BookCategory>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <tr>
        <td>Book Name</td>
        <td>Cagetgory Name</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Book.BookName</td>
            <td>@item.Category.CategoryName</td>
        </tr>
    }
</table>
